<a href="https://colab.research.google.com/github/htsnet/automacao-de-negocios/blob/master/Automacao_de_Negocios_Uso_Modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Execução de modelo já preparado para decisão sobre nova operação

In [1]:
import pandas as pd
import pickle

## O arquivo do modelo a ser carregado deve ter sido gerado a partir do outro notebook (Automacao de Negocios)

In [2]:
# carrega o modelo salvo em disco
arquivo_modelo = 'finalized_model.pkl'
with open(arquivo_modelo, 'rb') as file:
    model = pickle.load(file)

In [3]:
#carrega a tabela com os dados a avaliar
#separador de campos = ;
#ponto decimal = ,
new = pd.read_csv("/content/novos_dados.csv", sep=";", decimal=",")

In [4]:
new.head()

   Item 1  Item 2  Item 3  Item 4  ...  Item 74  Item 75  Item 76  Item 77
0   54400   -1800   -11.5      24  ...        0        0      2.9      5.4

[1 rows x 77 columns]

In [5]:
#faz a predição com base nos novos dados
Ypredict = model.predict(new)
print(Ypredict)
if Ypredict == 1:
  print("Seguir")
else:
  print("Não")

[2]
Não

In [6]:
#verifica a probabilidade de acerto do resultado apresentado
probabilidade = model.predict_proba(new)
probabilidade

array([[0.40294118, 0.59705882]])